.dashboard {
  display: flex;
  flex-direction: column;
  height: 100%;
  display: flex;
  flex-direction: column;

  .top-toolbar {
    height: 4em;
    background: #67c3ff;

    .dashboard-logo {
      width: 5em;
      margin: 0.5em;
    }
  }

  .dashboard-content {
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  .head {
    height: 7em;
    position: relative;
    text-align: center;
    a {
        text-align: center;
        img {
          display: inline;
        }
    }
  }
  .dashboard-menu {
    flex: 2;
    background-color: #c2e0f2;
    .user-profile-area {
      height: 6em;
      display: flex;
      flex-direction: row;

      .image-column{
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        .user-photo {
          width: 3em;
          border-radius: 50%;
        }
      }

      .text-column{
        flex: 3;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .email {
          color: blue;
          text-decoration: underline;
        }

        .role {
          font-size: 0.8em;
          color: #00002b;
        }
      }

    }
    .dashbord-item {
      display: block;
      position: relative;
      height: 3em;
      padding: 0.75em 2em;
      font-size: 1.1em;
      border-top: 1px solid #0000ff0d;

      .tap-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
  .dashbord-view {
    flex: 13;
  }

  .add-button {
    height: 2em;
    width: 100%;
  }
}
